@import url('https://fonts.googleapis.com/css2? family= Anton & family= Bebas+Neue & family= Fascinate & family= Inter:wght@300 & family= Kdam+Thmor+Pro & family= Montserrat & family= Outfit:wght@400;700 & family= Poppins:wght@400;500;600;700 & family= Raleway:wght@400;500 & family= Vollkorn:ital@1 & display=swap' );
*{
    margin: 0;
    padding: 0;
}
body{
    color: #323538;
    background-color: #e9e9e9;   
    
    box-sizing: border-box;
    
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.cabecalho{
    background-color: #FF6105;
    color: #fff;
    
    display: flex;
    justify-content: space-around;
    
    padding: 25px 0px;
    margin: 0 auto;

}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paragrafo-titulo, .paragrafo-pacotes{
    padding: 15px 0px;
    
    text-align: center;
}
.menu{
    display: flex;
}
.menu-cabecalho{
    display: flex;
}
.lista-cabecalho{
    align-items: center;
    display: flex;
    gap: 16px;
}
.item-lista{
    list-style: none;
}
.item-link{
    color: #fff;
    
    list-style: none;
    text-decoration: none;
}
.item-link:hover{
    background-color: #FA9007;
    
    font-size: 1.2em;
}
.conteiner{
    width: 100%;
    margin: 0 auto;
}
.pacotes{
    display: flex;
    flex-direction: column;
    
    padding-top: 20px;
    margin: 10px 0px;
    
    text-align: center;
    
}
.pacotes h2 {
    text-transform: uppercase;
}
.figure{
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 20px ;

}
.imagens{
    background-color: #FA9007;
}
figcaption{
    padding: 10px;

}
.span{
    font-size: 2em;
}
.submit{
    background-color: #1E7EFF;
    border: none;
    color: #ccc;
    
    cursor: pointer;
    
    font-size:1.2em;
    
    padding: 15px;
    width: 100%;
    
    text-align: center;
}
.submit:hover{

    background-color: #0f3c76;
}
.table{
    margin: 20px 0;
}

.descricao{
    font-size: 1.5em;
    font-weight: 600;
    
    text-align: center;
    
    padding: 15px 0;
}
.table{
    background-color:#FF6105 ;
}
.tabela{
    border-collapse: collapse;
    
    width: 100%;
}
th{
    background-color: #FF6105;
    
    padding: 9px;
    
    text-align: center;
    text-transform: uppercase;
    
}
td{
    padding: 6px;
    
    text-align: center;
}
tr{
    line-height: 1.5em;
}
tr:nth-child(even){
    background-color: #e9e9e9;

}
tr:nth-child(odd){
    background-color:#ccc;
}
tr:hover{
    background-color: #d9b484a3;
}
.formulario, .formulario-servicos, .formulario-pagamento, .formasPagar{
    border: 1px solid #ccc;
    background-color: #71a4e6bd;;
    
    display: flex;
    flex-direction: column;
    
    margin:1em 0 ;
    padding: 1em;
}
.legenda{
    font-weight: 600;
    
    text-transform: uppercase;
}
.input, .opcoes{
    padding: 8px;
    margin-bottom: 10px;
}

input.radio, input.checkbox, input.subimt{
    margin-right: 1em;
}
.servicos,.formulario-formas-pagamentos, .pagamentos{
    font-weight: 600;
}





