@import url('https://fonts.googleapis.com/css2? family= Anton & family= Bebas+Neue & family= Fascinate & family= Inter:wght@300 & family= Kdam+Thmor+Pro & family= Montserrat & family= Outfit:wght@400;700 & family= Poppins:wght@400;500;600;700 & family= Raleway:wght@400;500 & family= Vollkorn:ital@1 & display=swap' );
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    
    
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px 0px;
    margin: 0 auto;
    background-color: #FF6105;
    color: #fff;

}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paragrafo-titulo, .paragrafo-pacotes{
    text-align: center;
    padding: 15px 0px;
}
.menu{
    display: flex;
}
.menu-cabecalho{
    display: flex;
}
.lista-cabecalho{
    display: flex;
    align-items: center;
    gap: 16px;
}
.item-lista{
    list-style: none;
}
.item-link{
    color: #fff;
    text-decoration: none;
    list-style: none;
}
.conteiner{
    width: 100%;
    margin: 0 auto;
}
.pacotes{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 10px 0px;
    color: #323538;
    
}
.figure{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px ;
    background-color: #FA9007;

}
figcaption{
    padding: 10px;
    color: #323538;
}
.span{
    color: #323538;
    font-size: 2em;
}
.submit{
    padding: 15px;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: #1E7EFF;
    color: #ccc;
    text-align: center;
    font-size:1.2em;
    cursor: pointer;
}
.submit:hover{
    padding: 18px;
    font-size: 1.5em;
    background-color: #363fbf;
}
.table{
    margin: 20px 0;
}

.descricao{
    text-align: center;
    padding: 15px 0;
    color: #323538;
    font-size: 1.5em;
    font-weight: 600;
}
.tabela{
    width: 100%;
}


