@import url('https://fonts.googleapis.com/css2? family= Anton & family= Bebas+Neue & family= Fascinate & family= Inter:wght@300 & family= Kdam+Thmor+Pro & family= Montserrat & family= Outfit:wght@400;700 & family= Poppins:wght@400;500;600;700 & family= Raleway:wght@400;500 & family= Vollkorn:ital@1 & display=swap' );
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #323538;
    
    
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px 0px;
    margin: 0 auto;
    background-color: #FF6105;
    color: #fff;

}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paragrafo-titulo, .paragrafo-pacotes{
    text-align: center;
    padding: 15px 0px;
}
.menu{
    display: flex;
}
.menu-cabecalho{
    display: flex;
}
.lista-cabecalho{
    display: flex;
    align-items: center;
    gap: 16px;
}
.item-lista{
    list-style: none;
}
.item-link{
    color: #fff;
    text-decoration: none;
    list-style: none;
}
.conteiner{
    width: 100%;
    margin: 0 auto;
}
.pacotes{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 10px 0px;
    
}
.pacotes h2 {
    text-transform: uppercase;
}
.figure{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px ;
    background-color: #FA9007;

}
figcaption{
    padding: 10px;

}
.span{
    font-size: 2em;
}
.submit{
    padding: 15px;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: #1E7EFF;
    color: #ccc;
    text-align: center;
    font-size:1.2em;
    cursor: pointer;
}
.submit:hover{
    padding: 18px;
    font-size: 1.5em;
    background-color: #1E7EFF;
}
.table{
    margin: 20px 0;
}

.descricao{
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
    font-weight: 600;
}
.table{
    background-color:#FF6105 ;
}
.tabela{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #FF6105;
    padding: 9px;
    text-align: center;
    text-transform: uppercase;
    
}
td{
    text-align: center;
    padding: 6px;
}
tr:nth-child(even){
    background-color: #e9e9e9;

}
tr:nth-child(odd){
    background-color:#ccc;
}
tr:hover{
    background-color: #d9b484a3;
}
.formulario, .formulario-servicos, .formulario-pagamento, .formasPagar{
    margin:1em 0 ;
    padding: 1em;
    border: 1px solid #ccc;
    background:#f8f8f8;
    display: flex;
    flex-direction: column;
}
.legenda{
    font-weight: 600;
    text-transform: uppercase;
}
.input{
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="checkbox"]{
    margin: auto;
}
.servicos, .pagamentos{
    font-weight: 600;
}



